.cases {
    padding-top: 85px;
    padding-bottom: 135px;
}

.cases .container {
    display: flex;
}

.cases__sidebar {
    flex-shrink: 0;
    width: 263px;
    margin-right: 30px;
    padding-top: 20px;
}

.cases__nav {

}

.cases__content {
    flex-grow: 1;
}

.cases__content .heading-2 {
    margin-top: 0;
    margin-bottom: 28px;
    text-align: center;
    
    //&.wow {
    //    visibility: hidden;
    //}
}

.cases__content .wp-block-embed-youtube {
    margin: 0 0 70px 32px;
    
    //&.wow {
    //    visibility: hidden;
    //}
}

.cases__content .wp-block-embed__wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #000000;
}

.cases__content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.cases__content p {
    margin: 0;
}

.cases__content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 85px 0;
    padding: 0;
    list-style: none;
}

.cases__content li {
    position: relative;
    display: flex;
    align-items: center;
    width: 260px;
    margin-right: 33px;
    padding: 76px 20px 50px;
    text-align: center;
    box-shadow: 0 2px 25px rgba(9, 12, 18, .07);

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-child(n + 4) {
        margin-top: 33px;
    }
    
    &::before {
        content: "";
        position: absolute;
        top: 49px;
        left: 50%;
        width: 26px;
        height: 2px;
        background-color: #85622e;
        transform: translate(-50%, 0);
    }
}

.cases__content *:first-child {
    margin-top: 0;
}

.cases__content *:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
    .cases {
        padding-top: 65px;
    }

    .cases .container {
        display: block;
    }

    .cases__sidebar {
        width: auto;
        margin-right: 0;
        padding-top: 0;
    }

    .cases__content {
        padding-top: 65px;
    }

    .cases__content .heading-2 {
        line-height: 1.25em;
    }

    .cases__content .wp-block-embed-youtube {
        width: 780px;
        margin-right: auto;
        margin-left: auto;
    }

    .cases__content li {
        width: 288px;
    }
}

@media screen and (max-width: 992px) {
    .cases {
        padding-top: 22px;
    }

    .cases__content {
        padding-top: 30px;
    }

    .cases__content .wp-block-embed-youtube {
        width: 100%;
    }

    .cases__content li {

        &:nth-child(3n) {
            margin-right: 33px;
        }

        &:nth-child(2n),
        &:last-child {
            margin-right: 0;
        }

        &:nth-child(n + 3) {
            margin-top: 33px;
        }
    }
}

@media screen and (max-width: 768px) {
    .cases__content li {

        margin-right: 0;

        &:nth-child(n + 2) {
            margin-top: 33px;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 576px) {
    .cases {
        padding-bottom: 70px;
        overflow-x: hidden;
    }

    .cases__content .wp-block-embed-youtube {
        width: 100vw;
        margin-bottom: 50px;
        margin-left: -15px;
    }

    .cases__content ul {
        margin: 50px 0;
    }
}
