.contacts {
    padding: 0;
    list-style: none;
}

.contacts__item {
    margin-bottom: 6px;

    &:last-child {
        margin-bottom: 0;
    }

    .contacts--dark & {
        margin-bottom: 29px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.contacts__link {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 41px;
    font-size: 14px;
    font-family: "Poiret One", Tahoma, sans-serif;
    color: #fff;

    .contacts--dark & {
        color: #4e4e4e;
        
        &:hover,
        &:focus {
            color: #85622e;
        }
    }

    .contacts--big & {
        padding-left: 75px;
        font-size: 20px;
    }

    .contacts--medium & {
        font-size: 16px;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 13px;
        height: 14px;
        background-repeat: no-repeat;
        background-size: 13px auto;
        background-position: center top;
        transition-delay: 0.21s;
        transition: all .38s cubic-bezier(.65, .26, .42, .89);
    }

    &--phone::before {
        top: 3px;
        background-image: url("img/bg/phone.svg");

        .contacts--dark & {
            background-image: url("img/bg/phone-darker.svg");
        }

        .contacts--medium & {
            top: 5px;
        }

        .contacts--big & {
            top: 8px;
        }
    }

    &--email::before {
        top: 4px;
        background-image: url("img/bg/email.svg");

        .contacts--dark & {
            background-image: url("img/bg/email-darker.svg");
        }

        .contacts--medium & {
            top: 7px;
        }

        .contacts--big & {
            top: 9px;
        }
    }
    
    &--map::before {
        top: 4px;
        background-image: url("img/bg/marker.svg");

        .contacts--dark & {
            background-image: url("img/bg/marker-darker.svg");
        }

        .contacts--medium & {
            top: 6px;
        }

        .contacts--big & {
            top: 9px;
        }
    }
    
    &:hover,
    &:focus {
        color: #d1c7bb;
    }

    &:hover::before,
    &:focus::before {
        animation: .6s shake-custom;
    }
}