.contacts-page {
    padding-top: 85px;
    padding-bottom: 40px;
    overflow-x: hidden;
}

.contacts-page__title {
    margin-top: 0;
    margin-bottom: 36px;
    text-align: center;

    html.js:not(.is-mobile) &.wow {
        visibility: hidden;
    }
}

.contacts-page__contacts {
    margin: 0 0 0 120px;

    html.js:not(.is-mobile) &.wow {
        visibility: hidden;
    }
}

@media screen and (max-width: 1200px) {
    .contacts-page__contacts {
        margin-left: 60px;
    }
}

@media screen and (max-width: 992px) {
    .contacts-page__contacts {
        margin-left: 0;
    }
}

@media screen and (max-width: 576px) {
    .contacts-page {
        padding-top: 70px;
    }
}
