.main-header {

    &--home {
        position: relative;
        z-index: 2;
        margin-bottom: -94px;
    }
}

/***** Hamburger styles *****/
:root {
    // default
    //--mb-button-size: 60px;
    //--mb-bar-width: 0.6;
    //--mb-bar-height: 4px;
    //--mb-bar-spacing: 10px;
    //--mb-animate-timeout: 0.4s

    --mb-button-size: 50px;
    --mb-bar-width: 0.6;
    --mb-bar-height: 2px;
    --mb-bar-spacing: 10px;
    --mb-animate-timeout: 0.1s;
}

.main-header__hamburger {
    position: relative;
    z-index: 6;
    display: none;
    box-sizing: border-box;
    margin-left: auto;
    height: var(--mb-button-size);
    padding: 0 0 0 var(--mb-button-size);
    color: #85622e;
    border: none;
    border-radius: 0;
    background: 0 0;
    line-height: var(--mb-button-size);
    vertical-align: middle;
    appearance: none;
    outline: 0;
    cursor: pointer;
    user-select: none;
}

.main-header__hamburger b {
    display: block;
    position: absolute;
    left: calc(var(--mb-button-size) * ((1 - var(--mb-bar-width)) / 2));
    width: calc(var(--mb-button-size) * var(--mb-bar-width));
    height: var(--mb-bar-height);
    //border-radius: calc(var(--mb-bar-height) / 2);
    background: currentColor;
    color: inherit;
    opacity: 1;
}

.main-header__hamburger b:nth-of-type(1) {
    bottom: calc(50% + var(--mb-bar-spacing));
    transition: bottom .2s ease, transform .2s ease, width .2s ease;
}

.main-header__hamburger b:nth-of-type(2) {
    top: calc(50% - (var(--mb-bar-height) / 2));
    left: 22px;
    width: 18px;
    transition: opacity .2s ease;
}

.main-header__hamburger b:nth-of-type(3) {
    top: calc(50% + var(--mb-bar-spacing));
    transition: top .2s ease, transform .2s ease, width .2s ease;
}

.show-main-nav .main-header__hamburger b:nth-of-type(1),
.show-internal-nav .main-header__hamburger b:nth-of-type(1) {
    bottom: calc(50% - (var(--mb-bar-height) / 2));
    transform: rotate(45deg);
}

.show-main-nav .main-header__hamburger b:nth-of-type(2),
.show-internal-nav .main-header__hamburger b:nth-of-type(2) {
    opacity: 0;
}

.show-main-nav .main-header__hamburger b:nth-of-type(3),
.show-internal-nav .main-header__hamburger b:nth-of-type(3) {
    top: calc(50% - (var(--mb-bar-height) / 2));
    transform: rotate(-45deg);
}

.main-header__hamburger b:nth-of-type(1) {
    transition-delay: .2s, 0s;
}

.main-header__hamburger b:nth-of-type(2) {
    transition-duration: 0s;
    transition-delay: .2s;
}

.main-header__hamburger b:nth-of-type(3) {
    transition-delay: .2s, 0s;
}

.show-main-nav .main-header__hamburger b:nth-of-type(1),
.show-internal-nav .main-header__hamburger b:nth-of-type(1) {
    transform: rotate(135deg);
    transition-delay: calc(var(--mb-animate-timeout) + 0s), calc(var(--mb-animate-timeout) + .2s);
}

.show-main-nav .main-header__hamburger b:nth-of-type(2),
.show-internal-nav .main-header__hamburger b:nth-of-type(2) {
    transition-delay: calc(var(--mb-animate-timeout) + 0s);
}

.show-main-nav .main-header__hamburger b:nth-of-type(3),
.show-internal-nav .main-header__hamburger b:nth-of-type(3) {
    transform: rotate(225deg);
    transition-delay: calc(var(--mb-animate-timeout) + 0s), calc(var(--mb-animate-timeout) + .2s);
}
/***** End hamburger styles *****/

@media screen and (max-width: 992px) {
    .main-header {
        margin-bottom: 0;
        padding: 5px 0;

        &--internal {
            border-bottom: 2px solid #85622e;
        }
    }

    .main-header .container {
        max-width: none;
    }

    .main-header__hamburger {
        display: block;
    }
}
