.modal-thanks {
    padding: 44px;
}

.modal-thanks__body p {
    margin: 16px 0;
    font-size: 16px;
}

.modal-thanks__body *:first-child {
    margin-top: 0;
}

.modal-thanks__body *:last-child {
    margin-bottom: 0;
}
