.offer-home {
    position: relative;
    z-index: 1;
    padding-top: 130px;
    padding-bottom: 95px;
    overflow-x: hidden;
    overflow-y: visible;
}

.offer-home .container::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -130px;
    right: 15px;
    bottom: -95px;
    width: 525px;
    background-color: #89817b;
}

.offer-home__title {
    position: relative;
    z-index: 2;
    width: 570px;
    margin-top: 0;
    margin-bottom: 90px;
    font-weight: 400;

    html.js:not(.is-mobile) &.wow {
        visibility: hidden;
    }
}

.offer-home__title span {
    display: block;
    font-family: "Poiret One", Tahoma, sans-serif;
    text-transform: uppercase;

    &:first-child {
        margin-bottom: 16px;
        font-size: 80px;
        line-height: 1.25em;
    }

    &:last-child {
        font-size: 32px;
    }
}

.offer-home__img {
    position: absolute;
    right: -15px;
    bottom: -95px;
    z-index: 3;
}

.offer-home__info {
    position: relative;
    width: calc(100% + 15px);
    z-index: 2;
    min-height: 370px;
    padding: 68px 30px 35px 95px;
    background-color: #efece8;
    
    html.js:not(.is-mobile) &.wow {
        visibility: hidden;
    }
}

.offer-home__info p {
    width: 360px;
    margin: 0;
    font-size: 20px;
    line-height: 2.05em;
    font-family: "Poiret One", Tahoma, sans-serif;
    text-transform: uppercase;
    color: #000;
}

@media screen and (max-width: 1200px) {
    .offer-home__title {
        width: 375px;
    }

    .offer-home__info {
        min-height: 280px;
        padding-top: 40px;
        padding-left: 30px;
    }

    .offer-home__info p {
        width: 325px;
    }
}

@media screen and (max-width: 992px) {
    .offer-home {
        padding-top: 0;
        padding-bottom: 0;
    }

    .offer-home .container {
        max-width: none;
        padding: 0;
    }

    .offer-home__title {
        width: 690px;
        margin: 0 auto 40px;
        text-align: center;
    }

    .offer-home__img {
        position: static;
        margin-left: auto;
    }

    .offer-home__info {
        width: 100%;
        min-height: 0;
        padding-bottom: 40px;
    }

    .offer-home__info p {
        width: 100%;
    }

    .offer-home__info br {
        display: none;
    }

    .offer-home .container::after {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .offer-home__title {
        width: 510px;
    }

    .offer-home__title span {

        &:first-child {
            font-size: 73px;
        }
    }
}

@media screen and (max-width: 576px) {
    .offer-home__title {
        width: 100%;
        padding: 0 15px;
    }

    .offer-home__title span {

        &:first-child {
            font-size: 40px;
        }

        &:last-child {
            font-size: 22px;
        }
    }

    .offer-home__info {
        padding: 25px 15px;
    }

    .offer-home__info p {
        line-height: 1.6875em;
    }
}
