.offer-programs {
    padding-top: 180px;
    padding-bottom: 60px;
    overflow-x: hidden;
}

.offer-programs .container {
    display: flex;
    align-items: flex-start;
}

.offer-programs__text-wr {
    position: relative;
    width: 535px;
    padding: 27px 35px 105px;

    &::before {
        content: "";
        position: absolute;
        top: -47px;
        right: -21px;
        bottom: 45px;
        left: 0;
        border: 2px solid $color-secondary;
        pointer-events: none;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 100vw;
        background-color: #fff;
        box-shadow: 0 2px 50px 0 rgba(9, 12, 18, 0.05);
    }
}

.offer-programs__text {

    html.js:not(.is-mobile) &.wow {
        visibility: hidden;
    }
}

.offer-programs__text .heading-2 {
    margin-bottom: 25px;
    text-align: center;
}

.offer-programs__text p {
    margin: 16px 0;
    font-weight: 300;
}

.offer-programs__text *:first-child {
    margin-top: 0;
}

.offer-programs__text *:last-child {
    margin-bottom: 0;
}

.offer-programs__img {
    position: absolute;
    top: -100px;
    left: 685px;
    width: 612px;
    height: 429px;
    object-fit: cover;

    html.js:not(.is-mobile) &.wow {
        visibility: hidden;
    }
}

@media screen and (max-width: 1200px) {
    .offer-programs {
        padding-top: 40px;
    }

    .offer-programs .container {
        flex-direction: column;
    }

    .offer-programs__img-box {
        order: 1;
        width: 100%;
        margin-bottom: 110px;
    }

    .offer-programs__text-wr {
        order: 2;
        width: 100%;
    }

    .offer-programs__img {
        position: static;
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .offer-programs .container {
        max-width: none;
        padding: 0;
    }

    .offer-programs__img-box {
        margin-bottom: 65px;
    }

    .offer-programs__img {
        width: 100%;
        height: 320px;
    }

    .offer-programs__text-wr {

        &::before {
            top: -30px;
            right: 15px;
            bottom: 30px;
            left: 15px;
        }
    }
}
