.program-details {
    padding-top: 155px;
    padding-bottom: 65px;
    overflow-x: hidden;
}

.program-details__title {
    margin-bottom: 30px;
    padding: 0 30px;
    text-align: center;
}

.program-details__box {
    position: relative;
    min-height: 335px;
    padding: 41px 45px 110px;

    &::before {
        content: "";
        position: absolute;
        top: -124px;
        right: 0;
        bottom: 52px;
        left: -34px;
        border: 2px solid #85622e;
        pointer-events: none;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        background-color: #fff;
        box-shadow: 0 2px 50px 0 rgba(9, 12, 18, 0.05);
    }
}

.program-details__list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -25px;
    margin-right: -30px;
}

.program-details__item {
    flex-grow: 1;
    margin-top: 25px;
    margin-right: 30px;
}

.program-details__item p:first-child {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: "Poiret One", Tahoma, sans-serif;
    text-transform: uppercase;
}

.program-details__item span {
    font-size: 55px;
    line-height: 1;
    color: #85622e;
}

.program-details__item p:last-child {
    margin: 0;
    font-weight: 300;
    line-height: 1.4375em;
}

.program-details__item p:first-child:last-child {
    display: flex;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 992px) {
    .program-details__box {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .program-details__box::before {
        left: -17px;
    }
}

@media screen and (max-width: 576px) {
    .program-details__box {
        padding-right: 17px;
        padding-bottom: 80px;

        &::before {
            bottom: 30px;
        }
    }
}

@media screen and (max-width: 410px) {
    .program-details__box {

        &::before {
            top: -166px;
        }
    }
}
