.progress {
    padding-top: 105px;
    padding-bottom: 100px;
    overflow-x: hidden;
}

.progress__title {
    margin-bottom: 30px;
    text-align: center;
}

.progress__list-box {
    position: relative;
    margin-left: 34px;
    min-height: 335px;
    padding: 27px 23px 105px 45px;

    &::before {
        content: "";
        position: absolute;
        top: -124px;
        right: 0;
        left: -34px;
        bottom: 52px;
        border: 2px solid #85622e;
        pointer-events: none;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        background-color: #fff;
        box-shadow: 0 2px 50px 0 rgba(9, 12, 18, .05);
    }
}

.progress__list {
    @include reset-list;

    display: flex;
    justify-content: space-between;
}

.progress__item {
    flex-grow: 1;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.progress__quantity {
    display: block;
    font-size: 55px;
    font-family: "Poiret One", Tahoma, sans-serif;
    color: #85622e;
}

.progress__text {
    margin: 0;
    font-weight: 300;
    line-height: 1.4375em;
    color: #635848;
}

@media screen and (max-width: 992px) {
    .progress__list {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: -10px;
        margin-right: -30px;
    }

    .progress__item {
        margin-top: 10px;

        &:last-child {
            margin-right: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .progress__list-box {
        margin-left: 15px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 576px) {
    .progress {
        padding-bottom: 70px;
    }

    .progress__list-box {

        &::before {
            left: -17px;
        }
    }

    .progress__list {
        margin-top: 0;
        margin-right: 0;
    }

    .progress__item {
        width: calc(50% - 15px);

        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 525px) {
    .progress__list-box {
        padding-right: 30px;
    }

    .progress__list {
        display: block;
    }

    .progress__item {
        width: auto;
        margin: 0 0 26px 0;
        text-align: center;

        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}
