.project {
    position: relative;
    width: 540px;
}

.project__head {
    position: relative;
    display: block;
    cursor: pointer;
}

.project__img-box {

}

.project__img {
    object-fit: cover;
}

.project__logo-box {
    position: absolute;
    right: -45px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 100px;
    margin: 0;
    padding: 12px 22px;
    background-color: #fff;
    box-shadow: 0 2px 25px rgba(9, 12, 18, .07);
}

.project__logo {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.project__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 17px 22px 50px;
    background-color: #fff;
}

.project__name {
    margin: 0 34px 0 0;
    line-height: 1.4375em;
}

.project__button {
    flex-shrink: 0;
    padding-top: 10px;
    padding-bottom: 18px;
}

.project__stroke {
    position: absolute;
    top: -135px;
    left: 235px;
    z-index: -1;
    width: 540px;
    height: 540px;
    border: 2px solid #85622e;
}