.result {
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: #e8e5e1;
}

.result__box {
    padding: 50px 30px 80px;
    background-color: #fff;
}

.result__title {
    margin-bottom: 55px;
    text-align: center;
}

.result__list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    width: 925px;
    margin: 0 auto;
}

.result__item {
    display: flex;
    margin-right: 65px;

    &:nth-child(2n) {
        margin-right: 0;
    }

    &:nth-child(n + 3) {
        margin-top: 65px;
    }
}

.result__item span {
    flex-shrink: 0;
    width: 70px;
    font-size: 55px;
    line-height: 1;
    font-family: "Poiret One", Tahoma, sans-serif;
    color: #85622e;
}

.result__item p {
    width: 360px;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .result__list {
        width: auto;
    }

    .result__item {
        margin-right: 30px;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    .result__item p {
        width: 350px;
    }
}

@media screen and (max-width: 992px) {
    .result__list {
        width: 430px;
    }

    .result__item p {
        width: 360px;
    }

    .result__item {
        margin-right: 0;

        &:nth-child(n + 2) {
            margin-top: 65px;
        }
    }
}

@media screen and (max-width: 576px) {
    .result__list {
        width: auto;
    }

    .result__box {
        padding-right: 15px;
        padding-left: 30px;
    }

    .result__item span {
        width: 60px;
    }

    .result__item p {
        flex-grow: 1;
        width: auto;
    }
}