.steps-to-success {
    padding: 125px 0;
}

.steps-to-success .container {
    display: flex;
}

.steps-to-success__title {
    flex-shrink: 0;
    width: 220px;
}

.steps-to-success__list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.steps-to-success__item {
    width: 215px;
    margin-right: 30px;

    &:last-child {
        width: 155px;
        margin-right: 0;
    }
}

.steps-to-success__number {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 90px;
    line-height: 1;
    font-family: "Poiret One", Tahoma, sans-serif;
    color: $color-secondary;

    &::after {
        content: "";
        display: block;
        margin-left: 90px;
        width: 16px;
        height: 16px;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: $color-secondary;
        transform: rotate(-45deg);
    }

    .steps-to-success__item:last-child &::after {
        display: none;
    }
}

.steps-to-success__text {
    
}

.steps-to-success__text *:first-child {
    margin-top: 0;
}

.steps-to-success__text *:last-child {
    margin-bottom: 0;
}

.steps-to-success__text strong {
    display: block;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 27px;
    font-family: "Poiret One", Tahoma, sans-serif;
    text-transform: uppercase;
    color: $color-main;
}

.steps-to-success__text p {
    margin: 20px 0;
    font-weight: 300;
    line-height: 1.25em;
}

@media screen and (max-width: 1200px) {
    .steps-to-success__title {
        margin-right: 100px;
    }

    .steps-to-success__list {
        width: 460px;
        margin-left: 0;
    }

    .steps-to-success__item {

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-child(n + 3) {
            margin-top: 30px;
        }

        &:last-child {
            width: 215px;
        }
    }
}

@media screen and (max-width: 992px) {
    .steps-to-success .container {
        display: block;
    }

    .steps-to-success__title {
        margin-bottom: 50px;
    }

    .three-questions__head picture {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .steps-to-success {
        padding: 70px 0;
    }

    .steps-to-success__list {
        display: block;
        width: auto;
    }

    .steps-to-success__item {
        display: flex;
        align-items: flex-start;
        width: 290px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 23px;

        &:nth-child(2n) {
            margin-right: auto;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:last-child {
            width: 290px;
        }
    }

    .steps-to-success__number{
        flex-shrink: 0;
        width: 70px;
        margin-bottom: 0;
        font-size: 70px;

        &::after {
            display: none;
        }
    }

    .steps-to-success__text {
        width: 220px;
        padding-top: 30px;

        &::after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            margin: 18px auto 0;
            border-width: 0 2px 2px 0;
            border-style: solid;
            border-color: $color-secondary;
            transform: rotate(45deg);

            .steps-to-success__item:last-child & {
                display: none;
            }
        }
    }
}
