.tips-popup {
    width: 880px;
    padding: 60px 70px 55px;
}

.tips-popup__title {
    margin-top: 0;
    margin-bottom: 55px;
    font-size: 18px;
    line-height: 1.7222em;
    text-align: center;
}

.tips-popup__title strong {
    font-weight: 600;
    font-size: 24px;
    color: #85622e;
}

.tips-popup__form {
    margin: 0 auto;
}

@media screen and (max-width: 737px) {
    .tips-popup {
        padding-right: 30px;
        padding-left: 30px;
    }
}