.tips-popup {
    width: 880px;
    padding: 60px 70px 55px;
}

.tips-popup__head {
    margin-bottom: 55px;
    text-align: center;
}

.tips-popup__head p {
    margin: 16px 0;
    font-size: 18px;
    line-height: 1.7222em;
}

.tips-popup__head *:first-child {
    margin-top: 0;
}

.tips-popup__head *:last-child {
    margin-bottom: 0;
}

.tips-popup__head strong {
    font-weight: 600;
    font-size: 24px;
    color: $color-secondary;
}

.tips-popup__form {
    margin: 0 auto;
}

@media screen and (max-width: 737px) {
    .tips-popup {
        padding-right: 30px;
        padding-left: 30px;
    }
}
