.trainers-list {
    padding: 0;
    list-style: none;
}

.trainers-list__item {
    display: flex;
    align-items: flex-start;

    &:nth-child(2) {
        margin-top: -30px;
    }
}

.trainers-list__text {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    width: 720px;
    padding: 41px 30px 44px 80px;
    background-color: #fff;
    box-shadow: 0 2px 50px rgba(9, 12, 18, .07);

    .trainers-list__item:nth-child(2) & {
        order: 2;
        margin-top: 70px;
        margin-left: -97px;
    }
}

.trainers-list__text h2 {
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 55px;
    line-height: 1;
    font-family: "Poiret One", Tahoma, sans-serif;
}

.trainers-list__text p {
    margin: 0;
    line-height: 1.6875em;
}

.trainers-list__text *:first-child {
    margin-top: 0;
}

.trainers-list__text *:last-child {
    margin-bottom: 0;
}

.trainers-list__img-box {
    position: relative;
    z-index: 1;
    flex-shrink: 0;

    .trainers-list__item:nth-child(1) & {
        margin-top: 20px;
        margin-left: -97px;
    }

    .trainers-list__item:nth-child(2) & {
        order: 1;
    }
}

.trainers-list__img {
    object-fit: cover;
    width: 517px;
    height: 390px;
}