.trainers-list {
    padding: 0;
    list-style: none;
}

.trainers-list__item {
    display: flex;
    align-items: flex-start;

    &:nth-child(2) {
        margin-top: -30px;
    }
}

.trainers-list__text {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    width: 720px;
    padding: 41px 30px 44px 80px;
    background-color: #fff;
    box-shadow: 0 2px 50px rgba(9, 12, 18, .07);

    .trainers-list__item:nth-child(2) & {
        order: 2;
        margin-top: 70px;
        margin-left: -97px;
    }
}

.trainers-list__text h2 {
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 55px;
    line-height: 1;
    font-family: "Poiret One", Tahoma, sans-serif;
}

.trainers-list__text p {
    margin: 0;
    line-height: 1.6875em;
}

.trainers-list__text *:first-child {
    margin-top: 0;
}

.trainers-list__text *:last-child {
    margin-bottom: 0;
}

.trainers-list__img-box {
    position: relative;
    z-index: 1;
    flex-shrink: 0;

    .trainers-list__item:nth-child(1) & {
        margin-top: 20px;
        margin-left: -97px;
    }

    .trainers-list__item:nth-child(2) & {
        order: 1;
    }
}

.trainers-list__img {
    object-fit: cover;
    width: 517px;
    height: 390px;
}

@media screen and (max-width: 1200px) {
    .trainers-list__item {

        &:nth-child(1) {
            margin-bottom: 30px;
        }

        &:nth-child(2) {
            margin-top: 0;
        }
    }

    .trainers-list__text {
        width: 510px;
        padding-left: 40px;
    }
}

@media screen and (max-width: 992px) {
    .trainers-list__item {
        flex-direction: column;

        &:nth-child(1) {
            margin-bottom: 50px;
        }
    }

    .trainers-list__img-box {
        order: 1;
        width: 100%;

        .trainers-list__item:nth-child(1) & {
            margin-top: 0;
            margin-left: 0;
        }
    }

    .trainers-list__img {
        width: 100%;
        height: auto;
    }

    .trainers-list__text {
        order: 2;
        width: calc(100% - 30px);
        margin: -23px 15px 0;
        padding-right: 15px;
        padding-left: 30px;

        .trainers-list__item:nth-child(2) & {
            margin-top: -23px;
            margin-left: 15px;
        }
    }
}

@media screen and (max-width: 576px) {
    .trainers-list__text h2 {
        font-size: 42px;
    }
}
