.trainer {
    padding-top: 85px;
    padding-bottom: 75px;
    overflow-x: hidden;
}

.trainer__title {
    margin-bottom: 60px;
}

.trainer__triggers {
    margin-bottom: 85px;
}

.trainer__trainers-list {
    margin: 0;
}
