.triggers {
    display: flex;
}

.triggers__title {
    width: 300px;
    margin: 55px 100px 0 0;
}

.triggers__list {
    @include reset-list;

    display: flex;
}

.triggers__item {
    position: relative;
    width: 180px;
    margin-right: 60px;
    line-height: 1.4375em;
    text-align: center;

    &:last-child {
        margin-right: 0;
    }

    &::before {
        content: "";
        display: block;
        width: 147px;
        height: 162px;
        margin: 0 auto 25px;
        padding: 16px 9px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        background-origin: content-box;
        border: 2px solid $color-secondary;
    }

    &:nth-child(1)::before {
        padding-top: 6px;
        background-image: url("img/bg/trigger-1.gif");
    }

    &:nth-child(2)::before {
        background-image: url("img/bg/trigger-2.gif");
    }

    &:nth-child(3)::before {
        background-image: url("img/bg/trigger-3.gif");
    }

    &::after {
        content: "";
        position: absolute;
        top: 140px;
        left: 50%;
        width: 19px;
        height: 2px;
        background-color: $color-secondary;
        transform: translate(-50%, 0);
    }
}

@media screen and (max-width: 1200px) {
    .triggers {
        display: block;
    }

    .triggers__title {
        width: 100%;
        margin: 0 0 35px 0;
        text-align: center;
    }

    .triggers__list {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .triggers__list {
        flex-wrap: wrap;
    }

    .triggers__item {

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-child(n + 3) {
            margin-top: 35px;
        }
    }
}

@media screen and (max-width: 449px) {
    .triggers__list {
        display: block;
    }

    .triggers__item {
        margin: 0 auto 35px;

        &:last-child {
            margin-right: auto;
            margin-bottom: 0;
        }

        &:nth-child(2n) {
            margin-right: auto;
        }
    }
}
